.buttonHolder {
    display: flex;

    justify-content: center ;
    align-items: center;
  }

  .link {
    color: #EDB023 !important;
}

.imageData {
    text-align: center;
    vertical-align: middle;
  }

#bonusClubSection {
    border: 3px solid #EDB023;
    padding: 8px;
    margin: 32px 0px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }

  h2 {
    text-align: center;
  }

  .var {
    text-decoration: underline;
    text-decoration-color: #1779B9;
  }


  .imageHolder {
    padding-top: 10px;
    margin: auto;
    display: flex;
    justify-content: center;

  }
  table {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #ffffff;
    border-collapse: collapse;
  }
  .header {
    background-color: #EDB023;
    color: #f5c860;
    padding: 0px;
    text-align: center;
    font-size: 8px;
  }
  .content {
    padding: 20px;
    font-family: "Josefin Sans", sans-serif;
    line-height: 150%;
    color: #071735;
  }
  .button {
    background-color: #1779B9;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
    margin-top: 10px;
    border-radius: 5px;
    text-align: center;
  }
  .button:hover {
    background-color: #409edd;
  }
  
  ul {
    list-style: none;
  }

  .accessoriesImage {
    width: 170px;
    height: auto;
    display: block;
  }

  p {
    margin: 20px 0;
  }





